*,body {
    margin:0;
    padding:0;
    overflow:hidden;
  }
  
  #bg {
    position:absolute;
    width:100vw;
    height:100vh;
    background: rgb(26,188,156); /* Old browsers */
    background: -moz-linear-gradient(-45deg, rgba(26,188,156,1) 0%, rgba(0,151,230,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(26,188,156,1) 0%,rgba(0,151,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(26,188,156,1) 0%,rgba(0,151,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#0097e6',GradientType=1 );
    z-index:-1;

  }

  #bg.change {
    animation:bgchange .2s forwards;

  }

  @keyframes bgchange {

    0% {
        background: rgb(26,188,156); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(26,188,156,1) 0%, rgba(0,151,230,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(26,188,156,1) 0%,rgba(0,151,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(26,188,156,1) 0%,rgba(0,151,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#0097e6',GradientType=1 );
    }
    

    100% {
        background: rgb(0,151,230); /* Old browsers */
        background: -moz-linear-gradient(-45deg, rgba(0,151,230,1) 0%, rgba(21,188,156,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(0,151,230,1) 0%,rgba(21,188,156,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(0,151,230,1) 0%,rgba(21,188,156,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097e6', endColorstr='#15bc9c',GradientType=1 );


    }
  }
  
  .triangle {
    position:absolute;
    background-color:#fff;
    width:40vw;
    height:50vh;
    top:50%;
    transform:translateY(-50%);
    z-index:0;
    transition-duration:1s;

  }
  
  .triangle:first-child {
    left:0;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 50%);
    clip-path: polygon(0 0, 0 100%, 100% 50%);
  }
  .triangle:nth-child(2) {
    right:0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
    clip-path: polygon(100% 0, 100% 100%, 0 50%);
  }
  
  .line {
    position:absolute;
    width:100vw;
    top:50%;
    height:2px;
    transform:translateY(-50%);
    z-index:1;
  }

  .line:first-child {
    background: rgb(26,188,156); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(26,188,156,1) 16%, rgba(25,42,86,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(26,188,156,1) 16%,rgba(25,42,86,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(26,188,156,1) 16%,rgba(25,42,86,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1abc9c', endColorstr='#192a56',GradientType=1 );
  }

  .line:not(:first-child) {
    background: rgb(25,42,86); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(25,42,86,1) 16%, rgba(26,188,156,1) 98%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(25,42,86,1) 16%,rgba(26,188,156,1) 98%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(25,42,86,1) 16%,rgba(26,188,156,1) 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#192a56', endColorstr='#1abc9c',GradientType=1 ); 
  }

  @import url('https://fonts.googleapis.com/css?family=Oswald');
  #button {
    position:absolute;
    width:280px;
    height:55px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#34495e;
    z-index:2;
    text-align:center;
    letter-spacing:7.5px;
    /*reverse*/
    transition-duration:.4s;
    /*text*/
    font-family: 'Oswald', sans-serif;
    font-size:25px;
    line-height:55px;
    color:#fff;
    /*also without clip-path is a cool button*/
    -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 100% 50%, 80% 100%, 20% 100%, 0 50%, 0 50%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 50%, 100% 50%, 80% 100%, 20% 100%, 0 50%, 0 50%);
  }

  #button:hover {
    transition-duration:.4s;
    cursor:pointer;
    letter-spacing:2.5px;
    background:#24374b;

  }

  .triangle.anim {
    transition-duration:1s;             /*also rotateY is a good choice*/
    transform:translateY(-50%)scale(1.4)rotateX(180deg);
  }


  